<h1>New User</h1>

<%= form_for :post, url: users_path do |f| %>
	<p>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</p>

	<p>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</p>

	<p>
		<%= f.label :id_card %>
		<%= f.text_field :id_card %>
	</p>

	<p>
		<%= f.label :model %>
		<%= f.text_field :model %>
	</p>

	<p>
		<%= f.label :mobile %>
		<%= f.text_field :mobile %>
	</p>

	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.label :company %>
		<%= f.text_field :company %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>