<h1>Cars</h1>
<div class="pull-right">
<%= link_to "New Car", new_user_car_path(@user), method: :get, class: "btn btn-warning" %>
</div>
<div class="row cars">
	<div class="col-md-6 col-md-offset-3">
		<ul class="list-group">
			<% @cars.each do |car| %>
				<li class="list-group-item"><%= car.tag %>
				&nbsp; | &nbsp;
				<%= car.model %>
				<div class="pull-right">
					<%= link_to "Car details", user_car_path(@user, car), method: :get, class: "btn btn-primary btn-xs"%>
					&nbsp;  &nbsp;
					<%= link_to "Delete Car", user_car_path(@user, car), method: :delete, class: "btn btn-danger btn-xs" %>
				</div>
				</li>
				<br>
			<% end %>
		</ul>
	</div>
</div>