<!DOCTYPE html>
<html>
  <head>
    <title>Effifleeter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>	

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EFFIFLEETER</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <% if admin_signed_in? %>
      <%= form_tag(search_path, class: "navbar-form navbar-left", method: :post) do %>
        <%= text_field_tag "q", '', class: "form-control" %>
        <%= submit_tag "Search", class: "btn btn-default" %>
        <% end %>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
          <li> <%= link_to 'Sign out', destroy_admin_session_path, method:'DELETE' %> </li>
      <% else %>
          <li> <%= link_to 'Sign_up', new_admin_registration_path %> </li>
          <li> <%= link_to 'Sign_in', new_admin_session_path %></li>  
      <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>
  </body>
</html>
